<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tour_guide_nepal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tour_Guide_Nepal">
        <activity android:name=".place_details.tanahun_detail_activity"></activity>
        <activity android:name=".place_details.solukhumbu_detail_activity" />
        <activity android:name=".place_details.pokhara_detail_activity" />
        <activity android:name=".place_details.mustang_detail_activity" />
        <activity android:name=".place_details.lumbini_detail_activity" />
        <activity android:name=".place_details.kathmandu_detail_activity" />
        <activity android:name=".place_details.janakpur_detail_activity" />
        <activity android:name=".place_details.gorkha_detail_activity" />
        <activity android:name=".place_details.dolakha_detail_activity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBz_lA1ESnGPWp85rn4d_BT4-wIUlH_qbg" />
    </application>

</manifest>