<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tour_guide_nepal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tour_Guide_Nepal">
        <activity android:name=".weather.solukhumbhu_weatherActivity"></activity>
        <activity android:name=".weather.janakpur_weatherActivity" />
        <activity android:name=".weather.pokhara_weatherActivity" />
        <activity android:name=".weather.dolakha_weatherActivity" />
        <activity android:name=".weather.mustang_weatherActivity" />
        <activity android:name=".weather.gorkha_weatherActivity" />
        <activity android:name=".weather.lumbini_weatherActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>